/*-----QWidget-----*/
QWidget
{
	/*-----background-color: #8f1e28;-----*/
	/*-----color: #000fff;-----*/
	selection-background-color: #aa7e82;
	selection-color: #000000;
	width: 100px;
	height: 250px;
}
QSlider {
}
QSlider::groove:vertical {
    background: #000000;
    position: absolute; /* absolutely position 4px from the left and right of the widget. setting margins on the widget should work too... */
    left: 4px; right: 4px;
}

QSlider::handle:vertical {
    height: 4px;
    background: #5987a6;
    margin: 0 -4px; /* expand outside the groove */
}

QSlider::sub-page:vertical {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #99d6ff;
}

QSlider::add-page:vertical {
    background: #0099ff;
}

